@using VigiLant.Models.Enum
@model VigiLant.Models.Equipamento

<link rel="stylesheet" href="/css/viewrevo.css" asp-append-version="true" />

<div class="details-container">

    <div class="row mb-2">
        <dt class="col-sm-6">Nome:</dt>
        <dd class="col-sm-6">@Model.Nome</dd>
    </div>

    <div class="row mb-2">
        <dt class="col-sm-6">Identificador:</dt>
        <dd class="col-sm-6">@Model.IdentificadorBroker</dd>
    </div>
    
    <div class="row mb-2">
        <dt class="col-sm-6">Localização:</dt>
        <dd class="col-sm-6">@Model.Localizacao</dd>
    </div>
    
    <div class="row mb-2">
        <dt class="col-sm-6">Tipo de Sensor:</dt>
        <dd class="col-sm-6">@Model.TipoSensor</dd>
    </div>

    <hr class="divider" />
    
    <div class="row mb-2">
        <dt class="col-sm-6">Status Atual:</dt>
        <dd class="col-sm-6">
            @{
                var statusClass = Model.Status switch
                {
                    StatusEquipament.Conectado => "success",
                    StatusEquipament.Desconectado => "danger",
                    StatusEquipament.Erro => "warning",
                    _ => "info"
                };
            }
            <span class="status-badge @statusClass">
                @Model.Status
            </span>
        </dd>
    </div>

    <div class="row mb-2">
        <dt class="col-sm-6">Última Atualização:</dt>
        <dd class="col-sm-6">@Model.UltimaAtualizacao.ToString("dd/MM/yyyy HH:mm:ss")</dd>
    </div>

    <div class="form-group mt-4 text-end">
        <button type="button" class="btn-secondary" id="cancelModalButton">
            <i class="fas fa-arrow-left"></i> Fechar
        </button>
    </div>
</div>