@model VigiLant.Models.Colaborador
@using VigiLant.Models.Enum

<link rel="stylesheet" href="/css/viewrevo.css" asp-append-version="true" />

<div class="details-container">
    <div class="row mb-2">
        <dt class="col-sm-4">Nome:</dt>
        <dd class="col-sm-8">@Model.Nome</dd>
    </div>

    <div class="row mb-2">
        <dt class="col-sm-4">Cargo:</dt>
        <dd class="col-sm-8">@Model.Cargo</dd>
    </div>

    <div class="SuperFlex">
        <div class="row mb-2">
            <dt class="col-sm-4">Departamento:</dt>
            <dd class="col-sm-8">@Model.Departamento</dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-4">Email:</dt>
            <dd class="col-sm-8">@Model.Email</dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-4">Telefone:</dt>
            <dd class="col-sm-8">@Model.Telefone</dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-4">Data de Admissão:</dt>
            <dd class="col-sm-8">@Model.DataAdmissao.ToShortDateString()</dd>
        </div>
    </div>
</div>

<div class="form-group mt-4 text-end">
    <button type="button" class="btn-secondary" id="cancelModalButton">
        <i class="fas fa-arrow-left"></i> Fechar Detalhes
    </button>
</div>